<%- include("./partials/header") %>

<form action="/sign_in" method="POST">
    <div class="form-container">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="e.g. Madam Welminster">
        </div>
        <input type="submit" class="btn btn-outline-secondary" value="Sign In">
    </div>
</form>

<%- include("./partials/footer") %>